<h1>show</h1>
<p><%= @user.name %>さん、ようこそ!</p>

<table class="table table-bordered table-condensed user-table">
<tr>
<td>A</td>
<td>B</td>
<td>C</td>
<td>D</td>
</tr>

<tr>
<%
=begin%>
 ユーザオブジェクトにdepartmentが存在するか？ 
<%
=end%>
<td>a<%= @user.department.present?? @user.department: "未所属" %></td>
<td>b<<%= @user.name %></td>
<td>c</td>
<td>d</td>
</tr>

</table>