  <header class="navbar navbar-fixed-top navbar-inverse">

	<%= link_to "やりたいこと", root_path,id:"aaa" %>
	<nav>
	<ul class= "nav navbar-nav navbar-right">
  <li><%= link_to "トップ", root_path %></li>
  <li><%= link_to "ログイン", signup_path %></li>
  </ul>
  </nav>
  
  </header>